* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr / 350px auto;
  min-height: 100vh; }

header {
  grid-area: header;
  min-height: 30rem;
  color: white;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 300; }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid: picture;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    padding: 6rem;
    border-radius: 50%; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 6rem; }
  aside .bar-skill {
    height: 5px;
    background: var(--hint);
    position: relative; }
    aside .bar-skill-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 80%;
      background: var(--light); }
    aside .bar-skill-dot {
      position: absolute;
      height: 15px;
      width: 15px;
      background: var(--dark);
      left: calc(80% - 7.5px);
      top: -3.75px;
      border-radius: 1rem; }
  aside .stars-container {
    display: flex;
    margin: 2rem 0 3rem 0;
    color: var(--hint); }
    aside .stars-container i {
      font-size: 2rem;
      margin: 0 1rem; }
  aside .social-container {
    display: flex;
    justify-content: start;
    align-items: center; }
    aside .social-container i {
      font-size: 2rem;
      flex: 0 0 50px;
      margin: 0; }

main {
  grid-area: main;
  background: white;
  padding: 5rem; }
  main h2 {
    margin-bottom: 5rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .experience .timeline p {
        margin-top: 0; }
    main .experience .content {
      padding: 0 1rem; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content ul {
        list-style: circle;
        padding-left: 4rem; }
