* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr / 350px auto;
  min-height: 100vh; }

header {
  grid-area: header;
  min-height: 30rem;
  color: white;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 300; }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid: picture;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    padding: 6rem;
    border-radius: 50%; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 6rem; }
  aside .bar-skill {
    height: 5px;
    background: var(--hint);
    position: relative; }
    aside .bar-skill .bar-skill-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 80%;
      background: var(--light); }
    aside .bar-skill .bar-skill-dot {
      position: absolute;
      height: 15px;
      width: 15px;
      background: var(--dark);
      left: calc(80% - 7.5px);
      top: -3.75px;
      border-radius: 1rem; }

main {
  grid-area: main;
  background: white; }
