@import "base";
@import "classes";

.grid-container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    / 350px auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  min-height: 30rem;
  color: white;
  text-align: center;
  background: linear-gradient(to right, var(--primary), var(--light));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    font-weight: 300;
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid: picture;
  background: var(--background);
  border-right: 1px solid var(--border);
  img {
    padding: 6rem;
    border-radius: 50%;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 6rem;
  .bar-skill {
    height: 5px;
    background: var(--hint);
    position: relative;
    &-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 80%;
      background: var(--light);
    }
    &-dot {
      position: absolute;
      height: 15px;
      width: 15px;
      background: var(--dark);
      left: calc(80% - 7.5px);
      top: -3.75px;
      border-radius: 1rem;
    }
  }
  .stars-container {
    display: flex;
    margin: 2rem 0 3rem 0;
    color: var(--hint);
    i {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
  .social-container {
    display: flex;
    justify-content: start;
    align-items: center;
    i {
      font-size: 2rem;
      flex: 0 0 50px;
      margin: 0;
    }
  }
}

main {
  grid-area: main;
  background: white;
  padding: 5rem;
  h2 {
    margin-bottom: 5rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin-top: 0;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      ul {
        list-style: circle;
        padding-left: 4rem;
      }
    }
  }
}
